cudatoolkit=10.2.89
cycler=0.11.0
einops=0.4.1
h5py=2.10.0
hdf5=1.10.6
numpy=1.19.2
pandas=1.1.5
python=3.6.13
pytorch=1.10.2
scikit-learn=0.24.2
scipy=1.5.4
torch-geometric=2.0.3
torch-scatter=2.0.9
torch-sparse=0.6.12
torchvision=0.11.3
tqdm=4.62.3
transformers=4.17.0
wilds==2.0.0